<!DOCTYPE html>
<html ng-app='store'>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}"/>
        <style>
            .ng-invalid.ng-dirty {
                border-color: #FA787E;
            }
            .ng-valid.ng-dirty{
                border-color: #78FA89;
            }
        </style>
    </head>
    <body ng-controller="StoreController as store">
        <div class="container">
            <ul class="list-group">
                <!-- Product Container -->
                <li class="list-group-item" ng-repeat="product in products">
                    <h3>
                        {[product.name]}
                        <em class="pull-right">{[product.price | currency ]}</em>
                    </h3>
                </li>
            </ul>
        </div>
        <script type="text/javascript" src="{{url_for('static', filename='js/angular.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>
    </body>
</html>