{% extends '__layout__.html' %}
{% block title %}Home{% endblock %}
{% block navbar %}
    {% include 'home/navbar.html' %}
{% endblock %}
{% block breadcrumbs %}
    <li class="active">Home</li>
{% endblock %}
{% block pills %}
    {% include 'home/pills.html' %}
{% endblock %}
{% block content %}
    <div class="page-header">
      <h1>Welcome <small>to Frome College Music Department</small></h1>
    </div>
    <p>
    If you would like your son or daughter to start or continue receiving music tuition at Frome 
College please read the <a href="{{url_for('home.terms')}}">terms and conditions</a> carefully with your child, and <a href="{{url_for('auth.register')}}">register here</a> as soon as possible. We offer a wide range of instruments so all tastes can be catered for. This year prices have gone up slightly to reflect the rise in the hourly rate our teachers are paid. We also have decided to offer only 25min lessons keeping in line with other local schools so as to avoid confusion and logistical problems when timetabling.
</p>
<p>Download the <a href="{{url_for('static', filename='resources/Letter.pdf')}}", target="_blank">full letter here</a> for more details.</p>
{% endblock %}