{% extends '__layout__.html' %}
{% block title %}Terms and Conditions{% endblock %}
{% block navbar %}
    {% include 'home/navbar.html' %}
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{{url_for('home.index')}}">Home</a></li>
    <li class="active">Terms and Conditions</li>
{% endblock %}
{% block pills %}
    {% include 'home/pills.html' %}
{% endblock %}
{% block content %}
    <div class="page-header">
      <h1>Terms and Conditions</small></h1>
    </div>
    <h4>WHO ARRANGES THE INSTRUMENT TUITION?</h4>
    <p>The College arranges for lessons to be provided for your son/daughter by an instrumental/singing teacher contracted to teach <strong>30 lessons per year.</strong> This is an average of 10 lessons per term.</p>
    <div class="clearfix visible-sm"></div>
    <h4>PAYMENT</h4>
    <div class="row">
        <div class="col-sm-6">
            <strong>£118 per term/25 minute individual lesson</strong>
        </div>
        <div class="col-sm-6">
            <strong>£59 per term/25 minute paired lesson</strong>
        </div>
    </div>
    <p>Lessons are to be paid in advance and must be paid for promptly on receipt of request with payment to be made via ParentPay. Parents will be notified by email when payment is due as follows:</p>
    <div class="row">
        <div class="col-sm-6">
            For Autumn Term:
        </div>
        <div class="col-sm-6">
            Payment due by 16th September
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            For Spring Term:
        </div>
        <div class="col-sm-6">
            Payment due by 11th December
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            For Summer Term:
        </div>
        <div class="col-sm-6">
            Payment due by 18th March
        </div>
    </div>
    <h4 style="text-align:center;"><strong>Please note: lessons must be paid for in advance. Students will not be able to start their lessons until payment is received.</strong></h4>
    <div class="clearfix visible-sm"></div>
    <h4>CANCELLATION OF LESSONS</h4>
    <p>If lessons are to be terminated, WRITTEN (post or email) notice must be given to Mr A Nicholls, Head of Faculty, giving half a terms notice <strong>prior to school holidays.</strong> See contact details below. Failure to give the required notice to terminate lessons will result in the full fee being charged. Mid-term adjustment dates for next year are:</p>
    <table class="table table-bordered">
        <tr>
            <th>Written notice must be received by…</th>
            <th>…if you want lessons to stop on:</th>
        </tr>
        <tr>
            <td>23 October 2014</td>
            <td>5 January 2015 (start of Spring Term)</td>
        </tr>
        <tr>
            <td>12 February 2015</td>
            <td>11 April 2015 (start of Summer Term)</td>
        </tr>
    </table>
    <h4 style="text-align:center;"><strong>Please note: you will be charged for lessons up until the date in the second column.</strong></h4>
    <div class="clearfix visible-sm"></div>
    <h4>MISSED LESSONS / PLANNED ABSENCE</h4>
    <p>Four weeks written notice is required for planned absence to ensure you are not charged for a missed lesson. We do our best to accommodate last-minute requests but cannot guarantee a solution without this notice.</p>
    <div class="clearfix visible-sm"></div>
    <h4>The Student’s Commitment</h4>
    <p>Students who have instrument/singing lessons are also encouraged to join one or more of our many ensembles (Jazz Band, Flute Cocktail, Chamber Choir, Brass Group, Ukulele Orchestra, Fiddlestix Strings, etc) and to enjoy the musical life at College.</p>
    <ul>
        <li>Students will attend lessons regularly and promptly.</li>
        <li>Students will be responsible for informing the College if they cannot attend a timetabled lesson.</li>
        <li>Students will practice for at least the time advised by the instrumental/singing teacher each day.</li>
        <li>Students will be responsible for bringing their instruments to College and taking them home after lessons.</li>
    </ul>
    <h4>The Parents’ Commitment</h4>
    <ul>
        <li>Parents will help their child to organise time for practising, support them with praise and encouragement.</li>
        <li>Concerns about lessons will be communicated to the head of Faculty as soon as they arise.</li>
        <li>Parents will pay for musical scores, consumable items (eg strings, reeds) and examination fees.</li>
        <li>Parents will ensure the student attends examinations if required to do so.</li>
        <li>Parents will agree to terms for any instruments loaned.  If you would like to hire an instrument from Somerset Music please contact Mr Nicholls.</li>
    </ul>
    <div class="clearfix visible-sm"></div>
    <h4><a href="{{url_for('static', filename='resources/Contract.pdf')}}" target="_blank">Download this contract</a></h4>
    <div class="clearfix visible-sm"></div>
    <p>Mr A Nicholls, Head of Expressive Arts Faculty, <a href="mailto:ANicholls@fromecollege.org">ANicholls@fromecollege.org</a></p>



     
{% endblock %}