<li role="presentation"><a href="{{url_for('staff.dashboard')}}">Dashboard</a></li>
<li role="presentation"><a href="{{url_for('staff.add_lesson')}}">Add New Lesson</a></li>
<li role="presentation"><a href="{{url_for('staff.lessons')}}">All Lessons</a></li>
<li role="presentation"><a href="{{url_for('staff.students')}}">All Students</a></li>
<li role="presentation"><a href="{{url_for('staff.parents')}}">All Parents</a></li>
<li role="presentation"><a href="{{url_for('staff.tutors')}}">All Tutors</a></li>
<li role="presentation"><a href="{{url_for('staff.staff')}}">All Staff</a></li>
<li role="presentation"><a href="{{url_for('staff.attendance')}}">Attendance</a></li>
<li role="presentation"><a href="{{url_for('staff.contact')}}">Contact User</a></li>
<li role="presentation"><a href="{{url_for('staff.contact_parent')}}">Contact Parent</a></li>
<li class="nav-divider"></li>
<li role="presentation"><a href="{{url_for('admin.index')}}">Admin Site</a></li>
<li class="nav-divider"></li>
<li role="presentation"><a href="{{url_for('tutor.dashboard')}}">Tutor Dashboard</a></li>