{% extends '__layout__.html' %}
{% block title %}Reset Password{% endblock %}
{% block breadcrumbs %}
    <li><a href="{{url_for('home.index')}}">Home</a></li>
    <li><a href="{{url_for('auth.login')}}">Login</a></li>
    <li class="active">Reset Password</li>
{% endblock %}
{% block pills %}
    {% include 'home/pills.html' %}
{% endblock %}
{% block content %}
    <div class="page-header">
      <h1>Reset Password <small>please enter a new password for the application.</small></h1>
    </div>
    <form class="form-horizontal" role="form" method="post" action="">
        {{ reset_password_form.csrf_token }}

        <!-- If there is an error display it to the user. -->
        {% if error %}
            <p class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{ error }}
            </p>
        {% endif %}

        <div class="form-group">
            <label for="input_email_address" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                {{ reset_password_form.password(class="form-control",placeholder="Password",id="input_email_address") }}
                {% for error in reset_password_form.password.errors %}
                <p>
                    <span class="glyphicon glyphicon-exclamation-sign" style="color:#bb321f;" aria-hidden="true"></span>
                    {{ error }}
                </p>
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <label for="input_email_address" class="col-sm-2 control-label">Confirm Password</label>
            <div class="col-sm-10">
                {{ reset_password_form.password_confirm(class="form-control",placeholder="Confirm Password",id="input_email_address") }}
                {% for error in reset_password_form.password_confirm.errors %}
                <p>
                    <span class="glyphicon glyphicon-exclamation-sign" style="color:#bb321f;" aria-hidden="true"></span>
                    {{ error }}
                </p>
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Reset Password</button>
            </div>
        </div>
    </form>
{% endblock %}