<li role="presentation"><a href="{{url_for('student.dashboard')}}">Dashboard</a></li>
<li role="presentation"><a href="{{url_for('student.lessons')}}">Lessons</a></li>
<li role="presentation"><a href="{{url_for('student.attendance')}}">Attendance</a></li>
<li role="presentation"><a href="{{url_for('student.tutors')}}">Peripatetic Tutors</a></li>
<li role="presentation"><a href="{{url_for('student.staff')}}">Staff Members</a></li>
<li role="presentation"><a href="{{url_for('student.contact')}}">Contact Staff</a></li>