{% extends '__layout__.html' %}
{% block title %}Tutors{% endblock %}
{% block navbar %}
    {% include 'student/navbar.html' %}
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{{url_for('student.dashboard')}}">Student Dashboard</a></li>
    <li class="active">Peripatetic Tutors</li>
{% endblock %}
{% block pills %}
    {% include 'student/pills.html' %}
{% endblock %}
{% block content %}
    <div class="page-header">
      <h1>Student <small>peripatetic tutors</small></h1>
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="searchbar"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        <input type="text" class="form-control" placeholder="Type to search" aria-describedby="searchbar" id="search">
    </div><br/>
    <table class="table table-hover">
        <thead>
            <!-- Header Row -->
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Speciality</th>
                <th>Contact Tutor</th>
            </tr>
        </thead>
        <tbody>
            {% for tutor in tutors %}
            <tr>
                <td><a href="{{url_for('student.view_tutor',tutor_id=tutor.user_id)}}">
                        {{tutor.user_id}}</a></td>
                <td>{{tutor.get_full_name()}}</td>
                <td>{{tutor.get_speciality()}}</td>
                <td><a role="button" class="btn btn-primary" href="{{url_for('student.contact')}}">Contact</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block script %}
<script type='text/javascript'>
/* Based on dfsq's example here: http://stackoverflow.com/questions/9127498/how-to-perform-a-real-time-search-and-filter-on-a-html-table */
$('#search').keyup(function() {
    
    var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
        reg = RegExp(val, 'i'),
        text;
    
    $('table tbody tr').show().filter(function() {
        text = $(this).text().replace(/\s+/g, ' ');
        return !reg.test(text);
    }).hide();
});
</script>
{% endblock %}