{% extends '__layout__.html' %}
{% block title %}Tutor Dashboard{% endblock %}
{% block navbar %}
    {% include 'tutor/navbar.html' %}
{% endblock %}
{% block breadcrumbs %}
    <li class="active">Tutor Dashboard</li>
{% endblock %}
{% block pills %}
    {% include 'tutor/pills.html' %}
{% endblock %}
{% block content %}
    <div class="page-header">
      <h1>Tutor <small>dashboard</small></h1>
    </div>
    {% if todays_lessons %}
        <h4>Today's Lessons:</h4>
        <div class="input-group">
            <span class="input-group-addon" id="searchbar"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
            <input type="text" class="form-control" placeholder="Type to search" aria-describedby="searchbar" id="searchinput">
        </div><br/>
        <table class="table table-hover" id="lessons">
            <!-- Header Row -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Lesson Duration</th>
                    <th>Users</th>
                    <th>Lesson Notes</th>
                    <th>Room</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for lesson in todays_lessons %}
                <tr>
                    <td><a href="{{url_for('staff.view_lesson',lesson_id=lesson.lesson_id)}}">
                            {{lesson.lesson_id}}</a></td>
                    <td>{{lesson.get_lesson_date(time_format='%d %b %G')}}</td>
                    <td>{{lesson.get_lesson_date(time_format='%H:%M')}}</td>
                    <td>{{lesson.get_lesson_duration()}} mins</td>
                    <td>
                        {% for user in lesson.users %}
                            {% if user.get_role() == 'STU' %}
                                <a href="{{url_for('staff.view_student',student_id=user.user_id)}}">{{user.get_full_name()}}</a><br/>
                            {% elif user.get_role() == 'TUT' %}
                                <a href="{{url_for('staff.view_tutor',tutor_id=user.user_id)}}">{{user.get_full_name()}}</a><br/>
                            {% elif user.get_role() == 'STA' %}
                                <a href="{{url_for('staff.view_staff',staff_id=user.user_id)}}">{{user.get_full_name()}}</a><br/>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{lesson.get_lesson_notes()}}</td>
                    <td>{{lesson.room.get_location()}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Options <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{url_for('staff.view_lesson',lesson_id=lesson.lesson_id)}}">View Lesson</a></li>
                                <li><a href="{{url_for('staff.edit_lesson',lesson_id=lesson.lesson_id)}}">Edit Lesson</a></li>
                                <li><a href="{{url_for('staff.record_attendance',lesson_id=lesson.lesson_id)}}">Register</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{url_for('staff.add_lesson')}}">Add New Lesson</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4>No data to display, there are no lessons scheduled for today.</h4>
    {% endif %}
{% endblock %}
{% block script %}
<script type='text/javascript'>
/* Based on dfsq's example here: http://stackoverflow.com/questions/9127498/how-to-perform-a-real-time-search-and-filter-on-a-html-table */
$('#searchinput').keyup(function() {
    
    var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
        reg = RegExp(val, 'i'),
        text;
    
    $('#lessons tbody tr').show().filter(function() {
        text = $(this).text().replace(/\s+/g, ' ');
        return !reg.test(text);
    }).hide();
});
</script>
{% endblock %}